// Override default variables before the import
@import 'vars';

// Import Bootstrap and its default variables
@import '~bootstrap/scss/bootstrap.scss';

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

$mainFont: 'Inter', sans-serif;

html,body,#root,.App {
  width: 100%;
}

body {
    font-family: $mainFont;
    margin: 0; 
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
  
code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
  
.spinner-grow {
  width: 3rem; 
  height: 3rem;
}

.clickable {
  cursor:pointer;
}