$body-bg: #fff;
$body-bg-contrast: #1A002F;
$secondary-light: #EBEBEB;
$secondary-light-contrast: #000;
$secondary: #bcbbbd;
$secondary-contrast: #000;
$secondary-dark: #747475;
$secondary-dark-contrast: #000;
$primary: #4E008B;